workflow/1_Upload.json
{
  "name": "1_Upload",
  "nodes": [
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "sheetName": "ProjectCodeInfo"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        480,
        384
      ],
      "id": "d84248a4-b9cc-4110-8ef3-41651da9587a",
      "name": "Get ProjectCodeInfo"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "sheetName": "ProjectHostInfo"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        480,
        560
      ],
      "id": "520eb184-5b4c-4465-b5b8-fd952461278f",
      "name": "Get ProjectHostInfo"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "sheetName": "PartTimeMainInfo"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        480,
        208
      ],
      "id": "cd24b5d7-4ce5-4d16-b17d-15eb151d3482",
      "name": "Get PartTimeMainInfo"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "105f63e4-0768-435b-a0c4-cea34d0b0ce5",
              "name": "corresponding_project",
              "value": "={{ $json['對應計畫'] }}",
              "type": "string"
            },
            {
              "id": "5b2bac4c-f684-4f78-9fd8-c06d1b7aff89",
              "name": "code_filter_condition",
              "value": "={{ $json['本校計畫代碼 篩選條件'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        384
      ],
      "id": "e33a4787-76ab-48de-b9be-5294c4a74af9",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "part_time_main_info",
          "mode": "list",
          "cachedResultName": "part_time_main_info"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "name",
            "project_code"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "grade",
              "displayName": "grade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "work_type",
              "displayName": "work_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "pay_type",
              "displayName": "pay_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "start_date",
              "displayName": "start_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "end_date",
              "displayName": "end_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "project_code",
              "displayName": "project_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "project_host",
              "displayName": "project_host",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "send_email_flag",
              "displayName": "send_email_flag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1040,
        208
      ],
      "id": "484b67d6-0b27-4e3c-8e08-4bb9446bf928",
      "name": "Upsert part_time_main_info",
      "credentials": {
        "postgres": {
          "id": "T3LSn3rixEiNn1wP",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "project_code_info",
          "mode": "list",
          "cachedResultName": "project_code_info"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "code_filter_condition"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "corresponding_project",
              "displayName": "corresponding_project",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "code_filter_condition",
              "displayName": "code_filter_condition",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1040,
        384
      ],
      "id": "eb761130-3dc6-41ff-9076-afd235be4261",
      "name": "Upsert project_code_info",
      "credentials": {
        "postgres": {
          "id": "T3LSn3rixEiNn1wP",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "project_host_info",
          "mode": "list",
          "cachedResultName": "project_host_info"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "host_name"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "host_name",
              "displayName": "host_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "host_email",
              "displayName": "host_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1040,
        560
      ],
      "id": "0a66454f-bf68-4caf-9b26-dc22aa91eb3f",
      "name": "Upsert project_host_info",
      "credentials": {
        "postgres": {
          "id": "T3LSn3rixEiNn1wP",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all();\nlet promptText = \"## 專案代碼語義比對任務\\n\\n\";\n\n// 格式化人員數據 (ptmi)\npromptText += \"### 1. 計畫代碼列表 (待檢查):\\n\";\nconst personnelData = input.filter(item => item.json.id !== undefined); // 假設 id 來自 A\npersonnelData.forEach(item => {\n    promptText += `- ID: ${item.json.id}, Code: ${item.json.project_code}\\n`;\n});\npromptText += \"\\n\";\n\n// 格式化條件數據 (pci)\npromptText += \"### 2. 篩選條件和對應計畫列表 (自然語言或純代碼):\\n\";\nconst filterData = input.filter(item => item.json.code_filter_condition !== undefined); // 假設 code_filter_condition 來自 B\nfilterData.forEach(item => {\n    promptText += `- 條件: \"${item.json.code_filter_condition}\", 對應計畫: ${item.json.corresponding_project}\\n`;\n});\npromptText += \"\\n\\n\";\n\n// 輸出指令\npromptText += \"--- 指令 ---\\n\";\npromptText += \"請根據『篩選條件列表』的語義，交叉檢查『計畫代碼列表』中的每個專案代碼。\\n\";\npromptText += \"請只回傳一個json陣列，其中只包含所有符合任何一項條件的『ID』和『對應計畫』，並且不要添加任何其他符號(包括換行和空格))。\\n\";\n\nreturn [{ json: { analysis_prompt: promptText } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        880
      ],
      "id": "305385dc-6c60-4cfe-86d6-1a0fb3563306",
      "name": "將所有資料整合並建立prompt"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.analysis_prompt }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        416,
        880
      ],
      "id": "ae918825-c5a1-45a8-bf04-45eec41c438f",
      "name": "AI篩選計畫代碼",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "l10YepEl8zOchUvn",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. 精確提取包含 JSON 陣列的字串\n// 根據您的第一個截圖，資料路徑是 content.parts[0].text\nconst rawJsonString = $input.item.json.content.parts[0].text; \n\n// 2. 解析 JSON 字串\n// 由於內容是合法的 JSON 陣列，直接解析即可\nconst parsedArray = JSON.parse(rawJsonString);\n\n// 3. 準備 n8n 輸出\n// 我們需要將解析後的陣列中的每個物件，轉換成 n8n 的 Item 格式\nconst outputItems = [];\n\n// 遍歷解析後的陣列\nfor (const item of parsedArray) {\n    // 每個物件 {} 變成一個獨立的 n8n Item\n    outputItems.push({\n        json: item \n    });\n}\n\n// 回傳結果\n// 這會輸出 6 個 Item\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        880
      ],
      "id": "b9c62bf7-fd89-4b31-895f-e523101196b1",
      "name": "提取AI回應並分割物件"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst projectMapArray = [];\n\nfor (const item of items) {\n    const id = item.json.ID;\n    // 取得計畫名稱並確保將單引號 ' 進行跳脫處理，以防止 SQL 語法錯誤\n    const name = item.json['對應計畫'].replace(/'/g, \"''\"); \n    \n    // 格式化成 SQL VALUES 語法：(ID, 'Project Name')\n    projectMapArray.push(`(${id}, '${name}')`);\n}\n\n// 將陣列連接成逗號分隔的字串\nconst projectMapString = projectMapArray.join(', ');\n\n// 將結果作為一個新的 Item 輸出，供 SQL 節點使用\nreturn [\n  {\n    json: {\n      projectMap: projectMapString,\n      // 如果您需要舊的 IDs 列表給其他地方用，也可以一併輸出\n      idsForSql: items.map(i => i.json.ID).join(',')\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        880
      ],
      "id": "6e448aa1-ef2f-417b-b827-07234d4adb4a",
      "name": "轉為SQL物件"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- 1. [清理] 將所有記錄的 send_email_flag 重設為 FALSE\nUPDATE part_time_main_info\nSET send_email_flag = FALSE;\n\n\n-- 2. [設定] 重新定義 CTE，並設定符合 BOTH 條件的記錄的 send_email_flag 為 TRUE，同時更新 project_name\n\nWITH month_boundaries AS (\n    SELECT\n        date_trunc('month', CURRENT_DATE)::date AS month_start,\n        (date_trunc('month', CURRENT_DATE) + interval '1 month - 1 day')::date AS month_end\n),\n-- 新增 CTE: project_updates，用於將 n8n 的資料轉為 SQL 表格\nproject_updates AS (\n    SELECT id, project_name\n    FROM (\n        VALUES \n  \n            -- 此為已處理的 AI 回應\n            -- 範例: (2, '企業產學計畫'), (4, '國科會計畫'), (8, '企業產學計畫'), ...\n            {{ $json.projectMap }} \n  \n    ) AS mapping_data (id, project_name)\n)\n\nUPDATE part_time_main_info ptmi\nSET \n    send_email_flag = TRUE,         -- 將 \"是否寄送email\" 設為 true\n    project_name = pu.project_name  -- 將對應的計畫名稱寫入欄位\nFROM project_updates pu\nWHERE \n    ptmi.id = pu.id  -- 使用 ID 進行 JOIN，確保每個 ID 拿到對應的 project_name\n    -- 條件 1: start_date 在現在日期之前\n    AND ptmi.start_date <= CURRENT_DATE\n    -- 條件 2: end_date 在 month_start 和 month_end 之間\n    AND ptmi.end_date BETWEEN (SELECT month_start FROM month_boundaries) AND (SELECT month_end FROM month_boundaries);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1152,
        880
      ],
      "id": "883a085b-af6f-4238-88cd-5f9a10862cbf",
      "name": "篩選計畫代碼和日期 & 輸入計畫名稱",
      "credentials": {
        "postgres": {
          "id": "T3LSn3rixEiNn1wP",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 上傳資料到資料庫",
        "height": 576,
        "width": 1616
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -224,
        160
      ],
      "typeVersion": 1,
      "id": "d2506c90-ac8c-44e2-8262-6aa221cc5073",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 將資料庫中的資料交給 AI (Google Gemini) 做處理",
        "height": 256,
        "width": 1536,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        800
      ],
      "typeVersion": 1,
      "id": "6e87ddbd-c4e9-486b-b101-c2dff4a3ed8d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1DC0w0z8OyS8etVdwMFWRrCVKGPYaBfbvimiu6BXkD5U",
          "mode": "list",
          "cachedResultName": "郵件資料_輸入",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DC0w0z8OyS8etVdwMFWRrCVKGPYaBfbvimiu6BXkD5U/edit?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        256,
        384
      ],
      "id": "8caf2586-a4bd-4155-afd1-380240cd48f9",
      "name": "取得試算表資料",
      "retryOnFail": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Snc90sSC3BGiWUOm",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "TRUNCATE TABLE part_time_main_info RESTART IDENTITY;\nTRUNCATE TABLE project_code_info RESTART IDENTITY;\nTRUNCATE TABLE project_host_info RESTART IDENTITY;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        64,
        384
      ],
      "id": "7951bec9-a25f-4a99-91b7-86aa0ad4a965",
      "name": "重製所有 table",
      "credentials": {
        "postgres": {
          "id": "T3LSn3rixEiNn1wP",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * 輔助函式：將民國日期字串（例如 113/07/01）轉換為標準西元日期字串（YYYY-MM-DD）\n * @param {string} rocDateString - 待轉換的民國日期字串\n * @returns {string|null} - 轉換後的標準日期字串，或 null (如果輸入無效)\n */\nfunction convertRocToWesternDate(rocDateString) {\n  if (!rocDateString || typeof rocDateString !== 'string') {\n    return null;\n  }\n  \n  // 處理 '/' 或 '.' 作為分隔符\n  const parts = rocDateString.split(/[./]/); \n  \n  if (parts.length === 3) {\n    const rocYear = parseInt(parts[0], 10);\n    \n    // 檢查年是否為數字\n    if (isNaN(rocYear)) {\n      return null;\n    }\n    \n    const month = parts[1].padStart(2, '0');\n    const day = parts[2].padStart(2, '0');\n\n    // 將民國年轉為西元年\n    const westernYear = 1911 + rocYear;\n    \n    // 組合為標準 YYYY-MM-DD 格式\n    return `${westernYear}-${month}-${day}`;\n  }\n  \n  return null;\n}\n\n\n// 主程式邏輯：遍歷所有項目並直接覆蓋原始日期欄位\nfor (const item of $input.all()) {\n  const json = item.json;\n\n  // 1. 處理 '聘期起始日'\n  const rocStartDate = json[\"聘期起始日\"]; \n  // 直接將轉換結果賦值回原欄位\n  json[\"聘期起始日\"] = convertRocToWesternDate(rocStartDate);\n  \n  // 2. 處理 '聘期結束日'\n  const rocEndDate = json[\"聘期結束日\"]; \n  // 直接將轉換結果賦值回原欄位\n  json[\"聘期結束日\"] = convertRocToWesternDate(rocEndDate);\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        208
      ],
      "id": "fc9206b2-b02f-4953-ab19-fc7682017c2b",
      "name": "變換日期格式"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77545265-4398-4f5f-b3ec-73ec441d42e1",
              "name": "host_name",
              "value": "={{ $json['計畫主持人'] }}",
              "type": "string"
            },
            {
              "id": "af00fad6-98cc-4638-8f83-efce870379d9",
              "name": "host_email",
              "value": "={{ $json['計畫主持人EMail'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        560
      ],
      "id": "71d425e3-6e03-4c52-b7da-f6e093699d18",
      "name": "Edit Fields 3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c8950994-1618-47cb-8490-b8a9e75559f2",
              "name": "name",
              "value": "={{ $json['姓名'] }}",
              "type": "string"
            },
            {
              "id": "6de017a2-75c0-4193-ab1b-b607b9de0b92",
              "name": "email",
              "value": "={{ $json.EMail }}",
              "type": "string"
            },
            {
              "id": "f1b760dc-56b1-41cc-9670-a5db03009298",
              "name": "start_date",
              "value": "={{ $json['聘期起始日'] }}",
              "type": "string"
            },
            {
              "id": "a4a487bd-43f1-448e-aa1f-81edd2547fe5",
              "name": "end_date",
              "value": "={{ $json['聘期結束日'] }}",
              "type": "string"
            },
            {
              "id": "3c080bc7-750a-46dd-b009-a280955a66b0",
              "name": "project_code",
              "value": "={{ $json['本校計畫代碼'] }}",
              "type": "string"
            },
            {
              "id": "7695aa8d-eee2-4717-8faf-91b2fb13666d",
              "name": "project_host",
              "value": "={{ $json['計畫主持人'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        208
      ],
      "id": "b4e09cb2-75e7-473e-ba3d-e32b68a0287e",
      "name": "Edit Fields 1"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1264,
        544
      ],
      "id": "104ba641-9e2d-42e3-80c3-8a6953febb66",
      "name": "等待所有分支完成"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -144,
        384
      ],
      "id": "294629c9-db12-43cb-99d2-4c6856c71a79",
      "name": "開始執行"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "(\n    SELECT\n        'PERSONNEL' AS data_type,  -- 標記數據來源為人員資訊\n        id,\n        project_code,\n        NULL AS corresponding_project,\n        NULL AS code_filter_condition\n    FROM\n        part_time_main_info\n)\n\nUNION ALL\n\n(\n    SELECT\n        'PROJECT' AS data_type,    -- 標記數據來源為專案資訊\n        NULL AS id,\n        NULL AS project_code,\n        corresponding_project,\n        code_filter_condition\n    FROM\n        project_code_info\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -32,
        880
      ],
      "id": "4e210857-4412-4e3f-b537-f4d20f463009",
      "name": "提取資料庫資料",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "T3LSn3rixEiNn1wP",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Get ProjectHostInfo": {
      "main": [
        [
          {
            "node": "Edit Fields 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get PartTimeMainInfo": {
      "main": [
        [
          {
            "node": "變換日期格式",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get ProjectCodeInfo": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Upsert project_code_info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert project_code_info": {
      "main": [
        [
          {
            "node": "等待所有分支完成",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Upsert part_time_main_info": {
      "main": [
        [
          {
            "node": "等待所有分支完成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert project_host_info": {
      "main": [
        [
          {
            "node": "等待所有分支完成",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "將所有資料整合並建立prompt": {
      "main": [
        [
          {
            "node": "AI篩選計畫代碼",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI篩選計畫代碼": {
      "main": [
        [
          {
            "node": "提取AI回應並分割物件",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "提取AI回應並分割物件": {
      "main": [
        [
          {
            "node": "轉為SQL物件",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "轉為SQL物件": {
      "main": [
        [
          {
            "node": "篩選計畫代碼和日期 & 輸入計畫名稱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得試算表資料": {
      "main": [
        [
          {
            "node": "Get PartTimeMainInfo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get ProjectCodeInfo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get ProjectHostInfo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "重製所有 table": {
      "main": [
        [
          {
            "node": "取得試算表資料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "變換日期格式": {
      "main": [
        [
          {
            "node": "Edit Fields 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields 3": {
      "main": [
        [
          {
            "node": "Upsert project_host_info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields 1": {
      "main": [
        [
          {
            "node": "Upsert part_time_main_info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "等待所有分支完成": {
      "main": [
        [
          {
            "node": "提取資料庫資料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "開始執行": {
      "main": [
        [
          {
            "node": "重製所有 table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "提取資料庫資料": {
      "main": [
        [
          {
            "node": "將所有資料整合並建立prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8c4ac7f5-5a74-4d16-9c14-4a586b0a7422",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "51d5f048ce4b3c83fed68a46f4699b8a7e0740eb91807ed56102dec49bf23ecb"
  },
  "id": "q0GjRDa3HVzxzALC",
  "tags": []
}