workflow/1_Upload.json
{
  "name": "1_Upload_TUTORIAL",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "105f63e4-0768-435b-a0c4-cea34d0b0ce5",
              "name": "corresponding_project",
              "value": "={{ $json['對應計畫'] }}",
              "type": "string"
            },
            {
              "id": "5b2bac4c-f684-4f78-9fd8-c06d1b7aff89",
              "name": "code_filter_condition",
              "value": "={{ $json['本校計畫代碼 篩選條件'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        224
      ],
      "id": "b9fc43a1-e888-4b64-a468-be5f05a3b8c6",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "part_time_main_info",
          "mode": "list",
          "cachedResultName": "part_time_main_info"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "name",
            "project_code"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "grade",
              "displayName": "grade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "work_type",
              "displayName": "work_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "pay_type",
              "displayName": "pay_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "start_date",
              "displayName": "start_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "end_date",
              "displayName": "end_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "project_code",
              "displayName": "project_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "project_host",
              "displayName": "project_host",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "send_email_flag",
              "displayName": "send_email_flag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1104,
        48
      ],
      "id": "1d84f754-f593-41e7-bd07-b3139edf6c21",
      "name": "Upsert part_time_main_info",
      "credentials": {
        "postgres": {
          "id": "bfeZ8OLwUwRHGfV0",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "project_code_info",
          "mode": "list",
          "cachedResultName": "project_code_info"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "code_filter_condition"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "corresponding_project",
              "displayName": "corresponding_project",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "code_filter_condition",
              "displayName": "code_filter_condition",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1104,
        224
      ],
      "id": "8a12fa8f-f70c-40fe-9bd7-54caecd851be",
      "name": "Upsert project_code_info",
      "credentials": {
        "postgres": {
          "id": "bfeZ8OLwUwRHGfV0",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "project_host_info",
          "mode": "list",
          "cachedResultName": "project_host_info"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "host_name"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "host_name",
              "displayName": "host_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "host_email",
              "displayName": "host_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1104,
        400
      ],
      "id": "fc8ea531-0854-479f-ba91-927614ae9b13",
      "name": "Upsert project_host_info",
      "credentials": {
        "postgres": {
          "id": "bfeZ8OLwUwRHGfV0",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 上傳資料到資料庫",
        "height": 576,
        "width": 1488
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "76c93e51-e2ce-403c-a805-95b32e1caf34",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 將資料庫中的資料交給 AI (Google Gemini) 做處理",
        "height": 256,
        "width": 1552,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        640
      ],
      "typeVersion": 1,
      "id": "343f7533-29f5-4efe-8a72-41aba529dd76",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "TRUNCATE TABLE part_time_main_info RESTART IDENTITY;\nTRUNCATE TABLE project_code_info RESTART IDENTITY;\nTRUNCATE TABLE project_host_info RESTART IDENTITY;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        288,
        224
      ],
      "id": "67f00d45-61d7-4aed-ab10-0e0f79deaa7f",
      "name": "重製所有 table",
      "credentials": {
        "postgres": {
          "id": "bfeZ8OLwUwRHGfV0",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * 輔助函式：將民國日期字串（例如 113/07/01）轉換為標準西元日期字串（YYYY-MM-DD）\n * @param {string} rocDateString - 待轉換的民國日期字串\n * @returns {string|null} - 轉換後的標準日期字串，或 null (如果輸入無效)\n */\nfunction convertRocToWesternDate(rocDateString) {\n  if (!rocDateString || typeof rocDateString !== 'string') {\n    return null;\n  }\n  \n  // 處理 '/' 或 '.' 作為分隔符\n  const parts = rocDateString.split(/[./]/); \n  \n  if (parts.length === 3) {\n    const rocYear = parseInt(parts[0], 10);\n    \n    // 檢查年是否為數字\n    if (isNaN(rocYear)) {\n      return null;\n    }\n    \n    const month = parts[1].padStart(2, '0');\n    const day = parts[2].padStart(2, '0');\n\n    // 將民國年轉為西元年\n    const westernYear = 1911 + rocYear;\n    \n    // 組合為標準 YYYY-MM-DD 格式\n    return `${westernYear}-${month}-${day}`;\n  }\n  \n  return null;\n}\n\n\n// 主程式邏輯：遍歷所有項目並直接覆蓋原始日期欄位\nfor (const item of $input.all()) {\n  const json = item.json;\n\n  // 1. 處理 '聘期起始日'\n  const rocStartDate = json[\"聘期起始日\"]; \n  // 直接將轉換結果賦值回原欄位\n  json[\"聘期起始日\"] = convertRocToWesternDate(rocStartDate);\n  \n  // 2. 處理 '聘期結束日'\n  const rocEndDate = json[\"聘期結束日\"]; \n  // 直接將轉換結果賦值回原欄位\n  json[\"聘期結束日\"] = convertRocToWesternDate(rocEndDate);\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        48
      ],
      "id": "6c89af05-8b99-4284-bc95-2cb5dc080a4a",
      "name": "變換日期格式"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77545265-4398-4f5f-b3ec-73ec441d42e1",
              "name": "host_name",
              "value": "={{ $json['計畫主持人'] }}",
              "type": "string"
            },
            {
              "id": "af00fad6-98cc-4638-8f83-efce870379d9",
              "name": "host_email",
              "value": "={{ $json['計畫主持人EMail'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        400
      ],
      "id": "4cfca321-ba2b-430c-bc51-2668e027089f",
      "name": "Edit Fields 3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c8950994-1618-47cb-8490-b8a9e75559f2",
              "name": "name",
              "value": "={{ $json['姓名'] }}",
              "type": "string"
            },
            {
              "id": "6de017a2-75c0-4193-ab1b-b607b9de0b92",
              "name": "email",
              "value": "={{ $json.EMail }}",
              "type": "string"
            },
            {
              "id": "f1b760dc-56b1-41cc-9670-a5db03009298",
              "name": "start_date",
              "value": "={{ $json['聘期起始日'] }}",
              "type": "string"
            },
            {
              "id": "a4a487bd-43f1-448e-aa1f-81edd2547fe5",
              "name": "end_date",
              "value": "={{ $json['聘期結束日'] }}",
              "type": "string"
            },
            {
              "id": "3c080bc7-750a-46dd-b009-a280955a66b0",
              "name": "project_code",
              "value": "={{ $json['本校計畫代碼'] }}",
              "type": "string"
            },
            {
              "id": "7695aa8d-eee2-4717-8faf-91b2fb13666d",
              "name": "project_host",
              "value": "={{ $json['計畫主持人'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        48
      ],
      "id": "9fe53d84-064a-4a62-98ae-bb8be09c70d0",
      "name": "Edit Fields 1"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1312,
        368
      ],
      "id": "7de232ac-8e56-474f-9f1c-d92138de530e",
      "name": "等待所有分支完成"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        80,
        224
      ],
      "id": "72a275d7-b393-4127-bfc8-c30106962158",
      "name": "開始執行"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1DC0w0z8OyS8etVdwMFWRrCVKGPYaBfbvimiu6BXkD5U",
          "mode": "list",
          "cachedResultName": "郵件資料_輸入",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DC0w0z8OyS8etVdwMFWRrCVKGPYaBfbvimiu6BXkD5U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "PartTimeMainInfo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DC0w0z8OyS8etVdwMFWRrCVKGPYaBfbvimiu6BXkD5U/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        528,
        48
      ],
      "id": "488778bd-14e1-4e1e-8051-de6be9b5bfb1",
      "name": "Get PartTimeMainInfo",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Dv64oUJwS5Kly5ak",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1DC0w0z8OyS8etVdwMFWRrCVKGPYaBfbvimiu6BXkD5U",
          "mode": "list",
          "cachedResultName": "郵件資料_輸入",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DC0w0z8OyS8etVdwMFWRrCVKGPYaBfbvimiu6BXkD5U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1451263252,
          "mode": "list",
          "cachedResultName": "ProjectCodeInfo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DC0w0z8OyS8etVdwMFWRrCVKGPYaBfbvimiu6BXkD5U/edit#gid=1451263252"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        528,
        224
      ],
      "id": "68503089-a04e-4fc5-afa1-1a0b98e5744e",
      "name": "Get ProjectCodeInfo",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Dv64oUJwS5Kly5ak",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1DC0w0z8OyS8etVdwMFWRrCVKGPYaBfbvimiu6BXkD5U",
          "mode": "list",
          "cachedResultName": "郵件資料_輸入",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DC0w0z8OyS8etVdwMFWRrCVKGPYaBfbvimiu6BXkD5U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 942728175,
          "mode": "list",
          "cachedResultName": "ProjectHostInfo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DC0w0z8OyS8etVdwMFWRrCVKGPYaBfbvimiu6BXkD5U/edit#gid=942728175"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        528,
        400
      ],
      "id": "c8cff483-5889-4869-bce4-6b0db1aa9149",
      "name": "Get ProjectHostInfo",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Dv64oUJwS5Kly5ak",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 假設 rawJsonString 是從 Gemini 拿到的 text\nlet rawJsonString = $input.first().json.content.parts[0].text;\n\n// 移除可能的換行符號並檢查是否缺少中括號\nrawJsonString = rawJsonString.trim();\nif (!rawJsonString.startsWith('[')) {\n    rawJsonString = `[${rawJsonString}]`;\n}\n\ntry {\n    const parsedArray = JSON.parse(rawJsonString);\n    return parsedArray.map(item => ({ json: item }));\n} catch (e) {\n    throw new Error(\"JSON 解析失敗，請檢查 Gemini 輸出格式是否正確：\" + e.message);\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        720
      ],
      "id": "f82cbd65-c78b-41dd-85f1-95ef846f7627",
      "name": "提取AI回應並分割物件"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst projectMapArray = [];\n\nfor (const item of items) {\n    const id = item.json.id; // 改為小寫 id\n    const query = item.json.Query || \"\"; // 讀取 Query 欄位\n    \n    // 進行單引號跳脫處理，防止 SQL 注入或語法錯誤\n    const safeQuery = query.replace(/'/g, \"''\");\n    \n    // 格式化為 SQL VALUES 語法或其他您需要的格式\n    projectMapArray.push(`(${id}, '${safeQuery}')`);\n}\n\nconst projectMapString = projectMapArray.join(', ');\n\nreturn [{\n    json: {\n        sql_values: projectMapString\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        720
      ],
      "id": "d6757584-695f-419e-a227-8645f9360c3d",
      "name": "轉為SQL物件"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "project_code_info",
          "mode": "list",
          "cachedResultName": "project_code_info"
        },
        "returnAll": true,
        "options": {
          "outputColumns": [
            "id",
            "code_filter_condition"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        16,
        720
      ],
      "id": "9d2f19d5-08c3-4541-9da4-28b0d9724a0b",
      "name": "提取project_code_info資料",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "bfeZ8OLwUwRHGfV0",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// 處理計畫代碼與條件的組合\nconst formattedInput = items\n  .filter(item => \n    item.json.id != null && \n    item.json.code_filter_condition != null // 修正：檢查實際存在的欄位\n  )\n  .map(item => {\n    // 根據您的範例格式：(id: 1, 條件: 109A開頭)\n    return `(id: ${item.json.id}, 條件: ${item.json.code_filter_condition})`;\n  })\n  .join(',');\n\nreturn [{ json: { gemini_input: formattedInput } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        720
      ],
      "id": "1d2f86bb-b85b-415e-90a1-e31d39fdcae8",
      "name": "將資料整合"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- 1. [清理] 先將所有紀錄的 send_email_flag 重設為 FALSE，確保每次執行都是最新狀態\nUPDATE part_time_main_info\n  SET send_email_flag = FALSE;\n\n-- 2. [篩選與標記] 找出符合計畫名稱與日期規範的資料\nWITH month_boundaries AS (\n    SELECT \n        date_trunc('month', CURRENT_DATE)::date AS month_start,\n        (date_trunc('month', CURRENT_DATE) + interval '1 month - 1 day')::date AS month_end\n)\nUPDATE part_time_main_info AS ptmi\nSET \n    send_email_flag = TRUE\nFROM month_boundaries AS mb\nWHERE ptmi.project_name IS NOT NULL             -- 條件 1：project_name 必須已有資料\n  AND ptmi.start_date <= CURRENT_DATE           -- 條件 2：開始日期在今天之前\n  AND ptmi.end_date BETWEEN mb.month_start AND mb.month_end; -- 條件 3：結束日期落在本月之內",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1376,
        720
      ],
      "id": "eef9d930-d5df-41a4-8a06-d28d568c6bdb",
      "name": "篩選寄送郵件對象",
      "credentials": {
        "postgres": {
          "id": "bfeZ8OLwUwRHGfV0",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=#任務：\n請根據以下的輸入來建立對應的輸出 SQL LIKE 語句，請僅回傳符合格式的 JSON 陣列，不要包含 Markdown 語法、空格或額外的解釋文字，並將回應使用[]包裝起來。\n\n#輸入範例：\n(id: 1, 條件: 109A開頭),(id: 2, 條件: 110A開頭)\n\n#輸出範例：\n[{“id”:1,“Query”:“109A%”},{“id”:2,”Query”:“110A%”}]\n\n#輸入：\n{{ $json.gemini_input }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        368,
        720
      ],
      "id": "971cc856-6808-4268-8d01-0e081e64936f",
      "name": "AI建立Query語句",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "a5kR5bNcGBA2nmwu",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE project_code_info AS pci\nSET query_filter = v.query_val\nFROM (VALUES {{ $json.sql_values }}) AS v(id_val, query_val)\nWHERE pci.id = v.id_val;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1024,
        720
      ],
      "id": "e96e0a80-749c-4113-80b5-616ba48ce430",
      "name": "存入Query語句",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "bfeZ8OLwUwRHGfV0",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE part_time_main_info AS p\nSET \n    project_name = f.corresponding_project -- 將計畫名稱填入目標欄位\nFROM project_code_info AS f\nWHERE p.project_code LIKE f.query_filter\n  AND f.query_filter IS NOT NULL\n  AND f.query_filter != '';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1200,
        720
      ],
      "id": "0c9ee067-1c65-4401-8f1e-29c13d61397d",
      "name": "篩選並存入計畫名稱",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "bfeZ8OLwUwRHGfV0",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Upsert project_code_info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert project_code_info": {
      "main": [
        [
          {
            "node": "等待所有分支完成",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Upsert part_time_main_info": {
      "main": [
        [
          {
            "node": "等待所有分支完成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert project_host_info": {
      "main": [
        [
          {
            "node": "等待所有分支完成",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "重製所有 table": {
      "main": [
        [
          {
            "node": "Get PartTimeMainInfo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get ProjectCodeInfo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get ProjectHostInfo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "變換日期格式": {
      "main": [
        [
          {
            "node": "Edit Fields 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields 3": {
      "main": [
        [
          {
            "node": "Upsert project_host_info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields 1": {
      "main": [
        [
          {
            "node": "Upsert part_time_main_info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "等待所有分支完成": {
      "main": [
        [
          {
            "node": "提取project_code_info資料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "開始執行": {
      "main": [
        [
          {
            "node": "重製所有 table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get PartTimeMainInfo": {
      "main": [
        [
          {
            "node": "變換日期格式",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get ProjectCodeInfo": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get ProjectHostInfo": {
      "main": [
        [
          {
            "node": "Edit Fields 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "提取AI回應並分割物件": {
      "main": [
        [
          {
            "node": "轉為SQL物件",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "轉為SQL物件": {
      "main": [
        [
          {
            "node": "存入Query語句",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "提取project_code_info資料": {
      "main": [
        [
          {
            "node": "將資料整合",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "將資料整合": {
      "main": [
        [
          {
            "node": "AI建立Query語句",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI建立Query語句": {
      "main": [
        [
          {
            "node": "提取AI回應並分割物件",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "存入Query語句": {
      "main": [
        [
          {
            "node": "篩選並存入計畫名稱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "篩選並存入計畫名稱": {
      "main": [
        [
          {
            "node": "篩選寄送郵件對象",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "77cd49ba-5288-418c-851b-3e4f8e232bf2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4531c20341bea9fab4e1a8c72476ec03e92a8e0afba880a76bd140c324d56c94"
  },
  "id": "RYVNFJoB0F2Q6qpg",
  "tags": []
}