workflow/2_Send.json
{
  "name": "2_Send_TUTORIAL",
  "nodes": [
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $now }}",
        "format": "custom",
        "customFormat": "yyyy/M",
        "outputFieldName": "roc_date",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        32,
        288
      ],
      "id": "9de3a3ba-25b2-4a06-9830-11f8b5a67c8a",
      "name": "ROC Date"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $now }}",
        "format": "custom",
        "customFormat": "M月",
        "outputFieldName": "roc_month",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        32,
        576
      ],
      "id": "36a4c992-4269-43c4-b7b2-b47b34674a6a",
      "name": "ROC Month"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        432,
        480
      ],
      "id": "4c6d4eba-e369-4264-941d-548267cf5096",
      "name": "Merge"
    },
    {
      "parameters": {
        "content": "## 創建各個日期格式",
        "height": 640,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        224
      ],
      "typeVersion": 1,
      "id": "8adfeb08-8863-4173-811a-d26254210722",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        656,
        720
      ],
      "id": "a467ae09-092e-487a-a0a5-2a074cec71f4",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "// 取得所有輸入項目，確保它是一個陣列\nconst items = $input.all(); \n\n// 使用 .map() 遍歷陣列中的每一個項目\nreturn items.map(item => {\n    // === 您的民國年邏輯放在這裡 ===\n    \n    // 存取前一個 Date & Time 節點的輸出資料\n    // 請確認前一個節點輸出資料的欄位名稱 (例如：formattedDate)\n    const inputDate = item.json.roc_date; \n    \n    // 分割年/月\n    const [year, month] = inputDate.split('/');\n    \n    // 計算民國年 (西元年 - 1911)\n    const rocYear = parseInt(year) - 1911;\n    \n    // 將計算結果寫入新的欄位\n    item.json.roc_date = `${rocYear}年${month}月`;\n    \n    // 回傳處理後的項目\n    return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        288
      ],
      "id": "414aaed6-9d0d-4f6a-8432-ba64f185d9b7",
      "name": "AD to ROC"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $now }}",
        "format": "custom",
        "customFormat": "MMMM yyyy",
        "outputFieldName": "ad_date",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        32,
        432
      ],
      "id": "4cebc432-ab0a-4631-bddf-f723376a9452",
      "name": "AD Date"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $now }}",
        "format": "custom",
        "customFormat": "MMMM",
        "outputFieldName": "ad_month",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        32,
        720
      ],
      "id": "30631054-1bd3-47d9-bbd6-ded304edd10f",
      "name": "AD Month"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        656,
        1040
      ],
      "id": "e62912c0-9603-4828-bbf9-f5277b307401",
      "name": "Merge2"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1248,
        720
      ],
      "id": "b21671d3-29c9-4a07-a935-af20d71b1092",
      "name": "Wait 1",
      "webhookId": "ee427732-cb64-4267-9819-6b0643a27c56"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1248,
        1040
      ],
      "id": "e73e5fd4-d739-4a3b-bea0-1a5a2b0dda5c",
      "name": "Wait 2",
      "webhookId": "ee427732-cb64-4267-9819-6b0643a27c56"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        864,
        720
      ],
      "id": "c45acf2f-dc4e-4349-a93b-e37f8f35f428",
      "name": "Loop Over Items 1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        864,
        1040
      ],
      "id": "92ca59ca-e812-482f-b5ee-ec8267f49bfc",
      "name": "Loop Over Items 2"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "part_time_main_info",
          "mode": "list",
          "cachedResultName": "part_time_main_info"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "name",
              "condition": "IS NOT NULL"
            },
            {
              "column": "email",
              "condition": "IS NOT NULL"
            },
            {
              "column": "send_email_flag",
              "value": "TRUE"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "name",
            "email",
            "project_code",
            "project_name"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        80,
        944
      ],
      "id": "b2d02e53-e571-4b90-aa73-f178bbe4c7f3",
      "name": "取得合法助理資訊",
      "credentials": {
        "postgres": {
          "id": "bfeZ8OLwUwRHGfV0",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT ON (t1.project_host)\n    t1.project_host,    -- 選取 part_time_main_info (t1) 的所有欄位\n    t2.host_email       -- 選取 project_host_info (t2) 的 host_email 欄位\nFROM\n    part_time_main_info t1\nLEFT JOIN\n    project_host_info t2 ON t1.project_host = t2.host_name\nWHERE\n    t1.send_email_flag = TRUE  -- 是否對其寄送email\nORDER BY\n    t1.project_host DESC,\n    t1.created_at DESC; -- 根據 created_at DESC 排序，確保選取的是該主持人的最新記錄",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        80,
        1104
      ],
      "id": "f502bd31-44ad-403b-860e-ef9339c502b3",
      "name": "取得不重複之合法教授資訊",
      "credentials": {
        "postgres": {
          "id": "bfeZ8OLwUwRHGfV0",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=【溫馨提醒】敬請您完成{{ $json.roc_date }}份研究計畫薪資流程，感謝您的協助。 [Gentle Reminder] Kindly complete the salary process for the {{ $json.ad_date }} research project. Thank you for your cooperation",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n<meta charset=\"UTF-8\">\n<title>研究計畫薪資流程溫馨提醒</title>\n</head>\n<body style=\"font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; line-height: 1.6; color: #333; margin: 0; padding: 0;\">\n  <div style=\"max-width: 600px; margin: 20px auto; padding: 20px; border: 1px solid #ddd; background-color: #f9f9f9;\">\n    \n    <p>親愛的{{ $json.name }}助理，您好：</p>\n    <p>提醒您完成{{ $json.roc_date }}兼任助理薪資造冊作業。</p>\n    \n    <p style=\"background-color: #eee; padding: 10px; border-radius: 5px;\">\n      計畫編號： {{ $json.project_code }}<br>\n      計畫名稱： {{ $json.project_name }}\n    </p>\n\n    <p>請依照以下流程至 <a href=\"https://lms.ntpu.edu.tw/site/assistant\" style=\"color: #007bff; text-decoration: underline;\">「兼職人員保險管理系統」1.5兼職助理勞健保整合系統_登入網址</a> 操作， <strong>請勿自行造冊</strong>，謝謝您！</p>\n\n    <p style=\"font-weight: bold; margin-top: 20px; color: #0056b3;\">作業流程：</p>\n    <ol style=\"padding-left: 20px; margin: 0 0 20px 0;\">\n      <li style=\"margin-bottom: 10px;\"><strong>受聘助理：</strong> 登入系統 →「聘僱文件填報」→ 填寫{{ $json.roc_month }}份工時表／進度報告</li>\n      <li style=\"margin-bottom: 10px;\"><strong>受聘助理：</strong> 點選「送審」送交計畫主持人</li>\n      <li style=\"margin-bottom: 10px;\"><strong>計畫主持人：</strong> 登入「聘僱文件填報管理」→ 審核{{ $json.roc_month }}份資料</li>\n      <li style=\"margin-bottom: 10px;\"><strong>計畫主持人：</strong> 登入「計畫預算管理」→「每月薪資確認」→ 選擇{{ $json.roc_month }}份 → 點選「送彙整」</li>\n      <li style=\"margin-bottom: 10px;\"><strong>研發處：</strong> 統一造冊，約7–11個工作天內入帳</li>\n    </ol>\n      \n    <hr style=\"border: 0; border-top: 1px solid #ccc; margin: 20px 0;\">\n    \n    <p style=\"font-weight: bold;\">Dear {{ $json.name }} Assistant,</p>\n    <p>This is a reminder to assist your students in completing the {{ $json.ad_date }} salary processing for part-time research assistants.</p>\n    \n    <p style=\"background-color: #eee; padding: 10px; border-radius: 5px;\">\n      Project number：{{ $json.project_code }}<br>\n      Project name： {{ $json.project_name }}\n    </p>\n\n    <p>Please follow the steps below in the <a href=\"https://lms.ntpu.edu.tw/site/assistant\" style=\"color: #007bff; text-decoration: underline;\">Part-Time Personnel Insurance Management System</a>.</p>\n    <p>Thank you for your cooperation!</p>\n\n    <p style=\"font-weight: bold; margin-top: 20px; color: #0056b3;\">Procedure:</p>\n    <ol style=\"padding-left: 20px; margin: 0 0 20px 0;\">\n      <li style=\"margin-bottom: 10px;\"><strong>Assistant:</strong> log in → Employment Document Submission → Fill in {{ $json.ad_month }} Work Hours or Progress Report</li>\n      <li style=\"margin-bottom: 10px;\"><strong>Assistant:</strong> click Submit for Review to send to the project PI</li>\n      <li style=\"margin-bottom: 10px;\"><strong>Professor:</strong> log in to Employment Document Management → Reviews and approves {{ $json.ad_month }} records</li>\n      <li style=\"margin-bottom: 10px;\"><strong>Professor:</strong> log in to Project Budget Management → Monthly Salary Confirmation → Select {{ $json.ad_month }} → Click Submit for Consolidation</li>\n      <li style=\"margin-bottom: 10px;\"><strong>The R&D Office:</strong> will finalize the salary sheets. Payments are expected within 7–11 working days.</li>\n    </ol>\n    \n    <hr style=\"border: 0; border-top: 1px solid #ccc; margin: 20px 0;\">\n    \n    <p>如有相關須協助事項，可來電研發處洽詢，聯繫分機：66162胡小姐</p>\n    <p style=\"text-align: right; margin-top: 30px;\">君華 敬上</p>\n    \n  </div>\n</body>\n</html>",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1056,
        720
      ],
      "id": "329ad089-4820-4d1a-8bb7-6711205d70d1",
      "name": "寄給助理",
      "webhookId": "7dcf397c-999f-4866-aecc-375c5368afa7",
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "gmailOAuth2": {
          "id": "9jvHfAhXQZh2w7Ks",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.host_email }}",
        "subject": "=【溫馨提醒】敬請您完成{{ $json.roc_date }}份研究計畫薪資流程，感謝您的協助。 [Gentle Reminder] Kindly complete the salary process for the {{ $json.ad_date }} research project. Thank you for your cooperation",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n<meta charset=\"UTF-8\">\n<title>研究計畫薪資流程溫馨提醒</title>\n</head>\n<body style=\"font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; line-height: 1.6; color: #333; margin: 0; padding: 0;\">\n  <div style=\"max-width: 600px; margin: 20px auto; padding: 20px; border: 1px solid #ddd; background-color: #f9f9f9;\">\n    \n    <p>親愛的{{ $json.project_host }}教授，您好：</p>\n    <p>提醒您完成{{ $json.roc_date }}兼任助理薪資造冊作業。</p>\n    \n    <p style=\"background-color: #eee; padding: 10px; border-radius: 5px;\">\n      計畫編號： (EXCEL-R欄[本校計畫代碼])<br>\n      計畫名稱： (EXCEL-S欄[計畫名稱])\n    </p>\n\n    <p>請依照以下流程至 <a href=\"https://lms.ntpu.edu.tw/site/assistant\" style=\"color: #007bff; text-decoration: underline;\">「兼職人員保險管理系統」1.5兼職助理勞健保整合系統_登入網址</a> 操作， <strong>請勿自行造冊</strong>，謝謝您！</p>\n\n    <p style=\"font-weight: bold; margin-top: 20px; color: #0056b3;\">作業流程：</p>\n    <ol style=\"padding-left: 20px; margin: 0 0 20px 0;\">\n      <li style=\"margin-bottom: 10px;\"><strong>受聘助理：</strong> 登入系統 →「聘僱文件填報」→ 填寫{{ $json.roc_month }}份工時表／進度報告</li>\n      <li style=\"margin-bottom: 10px;\"><strong>受聘助理：</strong> 點選「送審」送交計畫主持人</li>\n      <li style=\"margin-bottom: 10px;\"><strong>計畫主持人：</strong> 登入「聘僱文件填報管理」→ 審核{{ $json.roc_month }}份資料</li>\n      <li style=\"margin-bottom: 10px;\"><strong>計畫主持人：</strong> 登入「計畫預算管理」→「每月薪資確認」→ 選擇{{ $json.roc_month }}份 → 點選「送彙整」</li>\n      <li style=\"margin-bottom: 10px;\"><strong>研發處：</strong> 統一造冊，約7–11個工作天內入帳</li>\n    </ol>\n      \n    <hr style=\"border: 0; border-top: 1px solid #ccc; margin: 20px 0;\">\n    \n    <p style=\"font-weight: bold;\">Dear Professor {{ $json.project_host }},</p>\n    <p>This is a reminder to assist your students in completing the {{ $json.ad_date }} salary processing for part-time research assistants.</p>\n    \n    <p style=\"background-color: #eee; padding: 10px; border-radius: 5px;\">\n      Project number：(EXCEL-R欄[本校計畫代碼])<br>\n      Project name： (EXCEL-S欄[計畫名稱])\n    </p>\n\n    <p>Please follow the steps below in the <a href=\"https://lms.ntpu.edu.tw/site/assistant\" style=\"color: #007bff; text-decoration: underline;\">Part-Time Personnel Insurance Management System</a>.</p>\n    <p>Thank you for your cooperation!</p>\n\n    <p style=\"font-weight: bold; margin-top: 20px; color: #0056b3;\">Procedure:</p>\n    <ol style=\"padding-left: 20px; margin: 0 0 20px 0;\">\n      <li style=\"margin-bottom: 10px;\"><strong>Assistant:</strong> log in → Employment Document Submission → Fill in {{ $json.ad_month }} Work Hours or Progress Report</li>\n      <li style=\"margin-bottom: 10px;\"><strong>Assistant:</strong> click Submit for Review to send to the project PI</li>\n      <li style=\"margin-bottom: 10px;\"><strong>Professor:</strong> log in to Employment Document Management → Reviews and approves {{ $json.ad_month }} records</li>\n      <li style=\"margin-bottom: 10px;\"><strong>Professor:</strong> log in to Project Budget Management → Monthly Salary Confirmation → Select {{ $json.ad_month }} → Click Submit for Consolidation</li>\n      <li style=\"margin-bottom: 10px;\"><strong>The R&D Office:</strong> will finalize the salary sheets. Payments are expected within 7–11 working days.</li>\n    </ol>\n    \n    <hr style=\"border: 0; border-top: 1px solid #ccc; margin: 20px 0;\">\n    \n    <p>如有相關須協助事項，可來電研發處洽詢，聯繫分機：66162胡小姐</p>\n    <p style=\"text-align: right; margin-top: 30px;\">君華 敬上</p>\n    \n  </div>\n</body>\n</html>",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1056,
        1040
      ],
      "id": "57538856-14f4-43ff-bcc2-c3e59bfbc302",
      "name": "寄給教授",
      "webhookId": "7dcf397c-999f-4866-aecc-375c5368afa7",
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "gmailOAuth2": {
          "id": "9jvHfAhXQZh2w7Ks",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 讀取 Gmail 的插入圖片",
        "height": 208,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "4a69168b-6a89-42d8-9e6a-012bff3af5ee",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 使用 query 篩選資料庫資料\n",
        "height": 384,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        880
      ],
      "typeVersion": 1,
      "id": "c44bed57-4b5e-4e73-aa1d-cef8dbf7a954",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## 將信件分批寄送給被篩選出的助理",
        "height": 256,
        "width": 608
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        656
      ],
      "typeVersion": 1,
      "id": "5e3ab406-a36d-4cb3-a339-3b8c83443250",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## 將信件分批寄送給被篩選出的教授",
        "height": 256,
        "width": 608
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        976
      ],
      "typeVersion": 1,
      "id": "764d2ce1-9846-4573-a5b4-a41e9cdf34a6",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1vAku9ZEdfjdnbL_pd6o8IObETVZIeNGm",
          "mode": "list",
          "cachedResultName": "image001.jpg",
          "cachedResultUrl": "https://drive.google.com/file/d/1vAku9ZEdfjdnbL_pd6o8IObETVZIeNGm/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        96,
        64
      ],
      "id": "e06793a8-aba1-413f-a303-7f657cbe6d0c",
      "name": "下載圖片",
      "retryOnFail": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "FrJUyyucTPwdvxLz",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -352,
        688
      ],
      "id": "421e64e7-5c06-43c7-a141-780b62843ecc",
      "name": "開始執行"
    }
  ],
  "pinData": {},
  "connections": {
    "ROC Date": {
      "main": [
        [
          {
            "node": "AD to ROC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ROC Month": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Loop Over Items 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AD to ROC": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "AD Date": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "AD Month": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Loop Over Items 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1": {
      "main": [
        [
          {
            "node": "Loop Over Items 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2": {
      "main": [
        [
          {
            "node": "Loop Over Items 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items 1": {
      "main": [
        [],
        [
          {
            "node": "寄給助理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items 2": {
      "main": [
        [],
        [
          {
            "node": "寄給教授",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "取得合法助理資訊": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "取得不重複之合法教授資訊": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "寄給助理": {
      "main": [
        [
          {
            "node": "Wait 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "寄給教授": {
      "main": [
        [
          {
            "node": "Wait 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "下載圖片": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "開始執行": {
      "main": [
        [
          {
            "node": "ROC Date",
            "type": "main",
            "index": 0
          },
          {
            "node": "AD Date",
            "type": "main",
            "index": 0
          },
          {
            "node": "ROC Month",
            "type": "main",
            "index": 0
          },
          {
            "node": "AD Month",
            "type": "main",
            "index": 0
          },
          {
            "node": "取得合法助理資訊",
            "type": "main",
            "index": 0
          },
          {
            "node": "取得不重複之合法教授資訊",
            "type": "main",
            "index": 0
          },
          {
            "node": "下載圖片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "23ed6a33-901d-41e5-b8b7-e10d6cea7b7c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4531c20341bea9fab4e1a8c72476ec03e92a8e0afba880a76bd140c324d56c94"
  },
  "id": "mn11TFJxjr4OKSGi",
  "tags": []
}